name: acapela_tts_example
description: Demonstrates how to use the system_settings_editor plugin.

publish_to: 'none'

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  acapela_tts:
    path: ../
  cupertino_icons: ^1.0.2
  path_provider: ^2.0.5
  path: ^1.8.0
  http: ^0.13.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/